body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  @apply underline underline-offset-8 decoration-color6;
}

.displayColEntry {
  @apply h-20 flex justify-center items-center;
}

.input-error {
  @apply text-red-500 text-sm;
}

.sidebar {
  @apply h-full flex flex-col items-center relative;
}
