body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  @apply underline underline-offset-8 decoration-color6;
}

.displayColEntry {
  @apply h-20 flex justify-center items-center;
}

.input-error {
  @apply text-red-500 text-sm capitalize;
}

.sidebar {
  @apply h-full flex flex-col items-center relative;
}

.cloud {
  @apply bg-color4 rounded-[100px] w-full md:w-[400px] h-[200px];
}

.cloud::after,
.cloud::before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}

.cloud::before {
  @apply w-[150px] h-[150px] -top-[55px] left-[95px] md:w-[200px] md:h-[200px] md:-top-[80px] md:left-[150px];
}

.cloud::after {
  @apply w-[80px] h-[80px] -top-[90px] -left-[115px] md:w-[120px] md:h-[120px] md:-top-[120px] md:-left-[140px];
}
